footer {
    background-color: #123C69;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

footer .icon {
    color: #EEE2DC;
    height: 48px;
    width: 48px;
}

.icon:first-of-type {
    margin-right: 20px;
}