header {
    background-color: #123C69;
    padding: 20px;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav a {
    text-decoration: none;
}

.desktop-nav {
    display: none;
}

.menu {
    width: 40px;
    height: 40px;
    color: #EEE2DC;
}

header h1 {
    color: #EEE2DC;
    margin: 0;
}

header ul {
    list-style-type: none;
    padding-left: 0;
}

header ul li {
    padding: 10px;
}

header ul li a {
    color: #EEE2DC;
    text-decoration: none;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 36px;
    }
}

@media (min-width: 992px) {
    .menu {
        display: none;
    }

    .desktop-nav {
        display: block;
    }

    .desktop-nav ul {
        display: flex;
    }

    .desktop-nav ul li {
        padding: 10px 20px;
    }
}